## Individual Components
### 1. PC
![PC testing on GTKwave](test_pc.png)