## Individual Components
### 1. Program Counter
![PC testing on GTKwave](images/test_pc.png)
### 2. alu+regfile
![ALU testing](image.png)
![GTKWave](<WhatsApp Image 2023-11-30 at 20.41.51_ee4dc1b7.jpg>)
![GTKWave2](image-1.png)
Tested alu_top.sv with alu_top_tb.cpp by directly putting input signals and checking if the output signals were as expected - verified this on GTKWave.