## Individual Components
### 1. PC
![PC testing on GTKwave](images/test_pc.png)