## Individual Components
### 1. Program Counter
![PC testing on GTKwave](images/test_pc.png)
